[user]
	name = Yuji Ueki
	email = unhappychoice@gmail.com

[push]
	default = current

[core]
	excludesfile = ~/.gitignore
	editor = nano
	pager = delta

[interactive]
	difffilter = delta --color-only

[merge]
	conflictStyle = zdiff3

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process

[github]
	user = unhappychoice

[ghi]
	token = !security find-internet-password -a unhappychoice -s github.com -l 'ghi token' -w

[commit]
	gpgsign = true
	template = ~/.commit_template

[tag]
	gpgsign = true

[ghq]
	vcs = git
	root = ~/.ghq
[init]
	defaultBranch = main
