[user]
	name = unhappychoice
	email = unhappychoice@gmail.com
[push]
	default = simple
[core]
	excludesfile = ~/.gitignore
	editor = nano
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
